@{
  Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <img class="card-img-top" src="https://wordcounter.net/images/word-counter.jpg">
                <div class="card-body">
                    <h5 class="card-title">WELCOME</h5>
                    <a class="btn btn-primary" href="/begin" role="button">Begin</a>
                </div>
            </div>
        </div>
    </div>
</div>
