@{
  Layout = "_Layout";
}
<div class="container">
    <h1>Input a word!</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxEMjNV1_FX7SObJeU0CcP-BdizsLo357bmc9JSihsV8v64MbBuQ">
        <form action="/inputlist" method="post">
            <div class="form-group">
                <label for="word-one">Pick a word</label>
                <input id="word-one" name="word-one" class="form-control" type="text">
            </div>

            <div class="form-group">
                <label for="list-words">Write out a few words</label>
                <input id="list-words" name="list-words" class="form-control" type="text">
            </div>

            <button type="submit" class="btn btn-info">Count matches</button>
        </form>
</div>

