@{
  Layout = "_Layout";
}
<div class="container">
    <h1>Input a word!</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxEMjNV1_FX7SObJeU0CcP-BdizsLo357bmc9JSihsV8v64MbBuQ">
    <h1>Okay, your sentance was: @Model.GetStringTwo()</h1>
    <h2>The word, "@Model.GetStringOne()" matched @Model.GetVarX() time(s).</h2>
    <a class="btn btn-info" href='/begin'>Try again</a>
</div>

