@{
  Layout = "_Layout";
}
<h1>Input a word!</h1>
<div width="50%">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxEMjNV1_FX7SObJeU0CcP-BdizsLo357bmc9JSihsV8v64MbBuQ">
    <h1>Okay, @Model.GetStringOne() and @Model.GetStringTwo()</h1>
    <h2>You had @Model.GetVarX() words matching</h2>
    <a class="btn btn-info" href='/begin'>Try again</a>
</div>

